
{# src/JMPC/PetFriends/ProtectorsBundle/Resources/views/Admin/index.html.twig #}
{# Plantilla del administrador del sitio web #}
{# El administrador puede ver mensajes de contacto #}

{% extends 'JMPCPetFriendsProtectorsBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/transdmin.css') }}">
    <script type="text/javascript" src="js/jNice.js"></script>

{% endblock %}
{% block top_block %}{% endblock %}
{% block content %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block section %}
<h3>Mensajes recibidos</h3>
	<ul>
	{% for message in messages %}
		<li>{{ message.id }}</li>
		<li>{{ message.asunto }}</li>
		<li>{{ message.nombre }}</li>
		<li>{{ message.email }}</li>
		<li>{{ message.mensaje }}</li>
	{% endfor %}	
	</ul>
	<div class="paginacion">
        {{ knp_pagination_render(messages) }}
    </div>
    <a href="{{ path('jmpc_pet_friends_protectors_admin') }}">Volver</a>
{% endblock %}